body {
    padding: 0px;
    margin: 0px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.container {
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
}

.left {
    background-color: #6366f1;
    grid-area: 1 / 1 / 6 / 2;
    color: white;
    display: grid;
    grid-template-rows: 200px 500px 275px;
    justify-content: center;
    justify-items: center;
}

.dashboard-title {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    min-width: 260px;
}

h3 {
    padding-left: 40px;
}

.left-buttons {
    min-width: 260px;
    display: flex;
    justify-items: flex-start;
    padding: 10px 10px 0 0;
}

p {
    padding-left: 40px;
    font-weight: 900;
    font-size: 18px;

}


.header{
    background-color: #ffffff;
    grid-area: 1 / 2 / 2 / 6;
    box-shadow: 5px 3px 5px rgb(182, 182, 182);
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 2fr;
}

#search-bar {
    background-color: #d8d8d8;
    border-radius: 12px;
    height: 25px;
    border: none;
    flex: 1 2 auto;
    padding-left: 10px;
    margin-left: 20px;
}

#search-bar-area {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0 50px 0 50px;
    margin-top: 20px;
}

#profile-area {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 20px 20px 0 20px;
}

#welcome-area {
    display: grid;
    grid-template-columns: 1fr 7fr;
    padding-left: 30px;
    justify-content: center;
    align-items: center;
}

#upload-buttons {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-right: 30px;
}

.upload-buttons {
    height: 40px;
    width: 120px;
    font-size: 16px;
    border-radius: 20px;
    border: none;
    background-color: #6366f1;
    color: white;
    font-weight: 800;
}

.main {
    background-color: #f5f5f5;
    grid-area: 2 / 2 / 6 / 5;
    overflow: scroll;
}

.main-container{
    display: grid;
    grid-template-rows: repeat(1fr);
    grid-template-columns: 1fr 1fr;
    justify-items: center;
}

.right {
    background-color: #f5f5f5;
    grid-area: 2 / 5 / 6 / 6; 
    display: grid;
    grid-template-rows: 70px 400px 70px 440px;
    overflow: scroll;
    justify-items: center;
}

.announcements-header{
    font-size: 20px;
    font-weight: 800;
    margin: 40px 110px 0 0px;
}

.trending-header{
    font-size: 20px;
    font-weight: 800;
    margin: 40px 1px 0 0px;
}

.announcements{
    height: 400px;
    width: 280px;
    border-radius: 10px;
    background-color: white;
    box-shadow: 2px 2px 5px gray;
}

.trending {
    height: 400px;
    width: 280px;
    border-radius: 10px;
    background-color: white;
    box-shadow: 2px 2px 5px gray;
    display: grid;
    justify-items: start;
    align-content: start;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: repeat(4, 1fr);

}

.trending-image{
    height:60px;
    width: 60px;
    border-radius: 50%;
    border: solid 1px black;
    margin: 20px 0 0 20px;
    overflow: hidden;
}

#ti1{

    background-color: rgb(189, 185, 140);
}

#ti2{
background-color: plum;
}

#ti3{
background-color: rgb(168, 168, 247);
}

#ti4{
background-image: linear-gradient(rgb(123, 123, 250),rgb(255, 255, 147));
}
.trending-tag{
    margin:10px 0 0 0;
}

.right-text{
    font-size: 13px;
    font-weight: 0;
    color: gray;
}

.right-text-header{
    font-size:15px;
}

#project-header {
    padding-top: 20px;
    margin-left: 0;
    grid-area: 1 / 1 / 2 / 3;


}

.modal{
    height: 250px;
    width: 400px;
    border-radius: 10px;
    background-color: white;
    border-left: orange solid 10px;
    box-shadow: 2px 2px 5px gray;
    margin: 20px 40px 40px 0px;
}

.modal-header{
    margin: 40px 0px 0px 20px;
}

.modal-text{
    color:dimgray ;
    font-weight: 600;
    font-size: 15px;
    margin: 5px 0 0 0;
    padding-right: 20px;
}
.modal-icons{
    height:30px;
    margin:40px 20px 0 210px;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-end;
}
